/* container styling */
#fp_gallery {
  position: relative;
  z-index: 1001;
}
#fp_gallery.noJS-fp {
  z-index: 1;
}

#outer_container {
  position: fixed;
  bottom: -160px;
  margin: 0px 0px 30px 0px;
  height: 130px;
  padding: 0 0.4em;
}
#outer_container.noJS-fp {
  position: relative;
  bottom: 160px;
  height: 100%;
  top: 0;
  margin: 1em 0;
}

/* thumbnail styling */
#thumbScroller {
  position: fixed;
  left: 0;
  overflow: auto;
  background-color: #1f221c;
}
#thumbScroller.noJS-fp {
  position: relative;
  width: auto;
  display: inline-block;
}

#thumbScroller .thumb-content {
  position: relative;
  left: 0;
  margin: 0.4em 1em;
}

#thumbScroller .fp-content {
  float: left;
}
#thumbScroller .fp-content.noJS-fp {
  display: inline-block;
  float: none;
}

#thumbScroller .fp-content div {
  margin: 2px;
  height: 100%;
}
/* thumbnail styling */
#fp_gallery #thumbScroller img,
#fp_gallery img.clone {
  border: 5px solid #fff !important;
  height: 120px;
}
#thumbScroller a {
  /* padding:2px; taken out to fix slider issue in ff */
  outline: none;
}
/* loading div */
.fp_loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 49.69%;
  margin: -35px 0px 0px -35px;
  background: #000 url(../res/loader.gif) no-repeat center center;
  width: 70px;
  height: 70px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  z-index: 999;
  opacity: 0.7;
}
/* navigation elements */
.fp_next,
.fp_prev {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  opacity: 0.5;
}
.fp_next:hover,
.fp_prev:hover {
  opacity: 0.9;
}
.fp_next {
  background: #000 url(../res/next.png) no-repeat center center;
  right: -50px;
}
.fp_prev {
  background: #000 url(../res/prev.png) no-repeat center center;
  left: -50px;
}

/* thumbnail positioning */
.fp_thumbtoggle {
  height: 5%;
  background: #000;
  width: 15%;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #000;
  position: fixed;
  left: 50%;
  margin-left: -7.5%;
  bottom: -50px;
  line-height: 200%;
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
  min-height: 20px;
  max-height: 50px;
  min-width: 100px;
  max-width: 200px;
}
.fp_thumbtoggle:hover {
  opacity: 1.0;
}

/* image */
#fp_gallery b {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  background-color: #080907;
}

#fp_gallery span.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img.fp_preview {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  vertical-align: middle;
  border: none !important;
}

#fp_exit {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 100%;
}

#fp_exit h2 {
  background-color: rgba(67, 81, 50, 0.6);
  border: 2px outset #b1bfa0;
  border-radius: 0.85em;
  color: #fff;
  display: inline-block;
  font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 5% auto;
  padding: 0.01em 0.25em 0.06em;
  width: auto;
}

#fp_caption {
  position: fixed;
  display: inline-block;
  z-index: 1005;
  bottom: -10%;
  width: 100%;
  height: 1px;
  margin: 0 auto;
  left: 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#fp_caption h3 {
  position: relative;
  display: inline-block;
  background-color: rgba(0,0,0,0.75);
  border-radius: 0.25em;
  height: auto;
  margin: 0 auto;
  padding: 0 0.5em;
  color: #fff;
  font-size: 1em;
}

/* header css */

/* unrelated text with description, etc */
#fp_verbaigeouter {
  display: inline-block;
}

#fp_verbaigeouter ul li {
  font-size: 1.4em;
  margin: 0.5em;
}

#page #fp_verbaigeouter p {
  font-size: 1.5em;
}

#page #fp_verbaigeouter p.fp_instruct {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;
  cursor: hand;
}

#fp_verbaigeouter > img {
  display: block;
  margin: auto;
  position: relative;
  opacity: 0.4;
  width: 100%;
}

#fp_verbaige {
  position: relative;
  display: inline-block;
  display: inline-block;
  float: left;
  max-width: 280px;
  box-sizing: border-box;
}

#fp_verbaigeouter i {
  color: #622;
  font-size: 0.89em;
}

/* fp toggle switch */

#fp_switchtxt {
  font-size: 2.2em;
  color: #3c332a;
  display: inline-block;
  float: left;
}

#fp_switchtxt b {
  vertical-align: middle;
  float: left;
  line-height: 2.3em;
}

.fp_switch {
  position: relative;
  top: -0.1em;
  padding: 0.5em 0 0 0.5em;
  width: 80px;
  margin: 0 0 0 3.75em;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #f8f8f8;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 28px;
  background-color: #dddddd;
  -webkit-border-radius: 5.2em;
  -moz-border-radius: 5.2em;
  -ms-border-radius: 5.2em;
  -o-border-radius: 5.2em;
  border-radius: 5.2em;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #607d85;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 28px;
  background-color: #b4d98d;
}

/* link from /photos to /photo-gallery */
.gallery_fplink {
  display: inline-block;
  text-align: right;
  font-size: 1.7em;
}

#fp_verbaige .gallery_fplink {
  text-align: center;
  font-size: 1.4em;
  background-color: #f8f8f8;
  border-radius: 0.8em;
  border: 2px solid #607d85;
  padding: .5em;
}
#fp_verbaige .gallery_fplink:hover {
  text-decoration: underline;
  border: 2px dashed #207603;
}
#fp_verbaige a:hover {
  text-decoration: underline;
}
.gallery_fplink i {
  font-size: 0.8em;
  color: #a25;
  font-style: normal;
}

/* slideshow speed slider bar */

.fp_panel {
  display: inline-block;
  float: left;
  text-align: center;
  max-width: 10em;
  font-size: 1.3em;
  margin-left: 1em;
}

#fp-slider {
  background-color: #f8f8f8;
  border-color: #607d85;
  border-radius: 0.5em;
  margin-top: 0.25em;
}

#fp-slider a {
  border-radius: 1em;
  border-color: #454a68;
  background-color: #b4d98d;
}

#fp-slider-value {
  font-size: 0.89em;
  color: #001d25;
}

.thumbrowspace {
  display: block;
  height: 120px;
}
/* added to force everything to line up and move down as needed. */
#page #fp_verbaigeouter p,
#page #fp_verbaigeouter ul {
  display: inline-block;
  float: left;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  box-sizing: border-box;
}

#fp_instructions {
  display: none;
}

#fp_instructionsCB {
  background-color: #fff;
  color: #3c332a;
  font-size: 1.8em;
  width: 60%;
  margin: auto;
  padding: 0 2em 0 1em;
  text-align: left;
  display: inline-block;
  white-space: normal;
  border-radius: 0.8em;
}

#fp_instructionsCB span.close {
    background-color: #fff;
    border: 10px solid #3b6c91;
    border-radius: 2em;
    cursor: pointer;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    position: absolute;
    right: -1.25em;
    text-align: center;
    top: -1.25em;
    width: 2em;
}​

#fp_modpath {
  display: none;
}

.fp_emptyspace {
  display: block;
  height: 350px;
}

.view-photo-gallery .view-filters {
  display: none;
}
